<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>一淘APP</title>

    <style>
        body{
           background-color:whitesmoke;
        }

        .title {
            font-size: 50px;

        }

        a {
            text-align: center;
            text-decoration: None;
            font-size: 50px;
        }

        button {
            margin-left: 300px;
            display: inline-block;
        }

        footer {
            margin-left: 120px;
        }
    </style>
</head>
<body>
<div class="div-title">
    <p class="title">一淘APP是淘宝官方找券返利APP,亲下次买东西可以在淘宝调好商品,加入购物车,再打开一淘的购物车,就可以看到该商品的券和返利,领券购买即可,收到货可以获得返利哦！帮你一省再省。</p>
</div>

<div>
    <p><a href="/upload/">点击上传</a></p>

</div>


<div>
    <img class="firstimg" src="/static/images/0.1.jpg" alt="">
    <img src="/static/images/2.jpg" alt="">
    <img src="/static/images/3.jpg" alt="">
    <img src="/static/images/4.jpg" alt="">
    <img src="/static/images/5.1.jpg" alt="">
    <img src="/static/images/5.jpg" alt="">
    <img src="/static/images/6.jpg" alt="">
    <img src="/static/images/7.jpg" alt="">
    <img src="/static/images/8.jpg" alt="">
    <img src="/static/images/9.jpg" alt="">
    <img src="/static/images/10.jpg" alt="">
    <img src="/static/images/11.jpg" alt="">
    <img src="/static/images/12.jpg" alt="">
    <img src="/static/images/13.jpg" alt="">
    <img src="/static/images/14.jpg" alt="">
</div>

<div>
    <button><a href="/upload/">点击此处上传资料</a></button>

</div>


<footer>
    <p>如有任何问题,请随时联系我们。扫描下方二维码,添加微信</p>
    <img src="/static/images/二维码.jpeg" alt="扫码添加微信">
</footer>
</body>
</html>